@charset "utf-8";
/* CSS Document */

*{
	font-family:"Courier New", Courier, monospace;
}

.pageContent{
	width:100%;
	text-align:center;	
}

.mainContent{
	width:800px;
	text-align:left;
	margin:auto;
	border: dashed #999 thin; 
}

.logo{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	font-size:36px;
}

.page{
	padding:10px;
}

.footer{
	padding-top:10px;
	text-align:center;
	font-size:12px;
	border-left:none;
	border-right:none;
	border-bottom:none;
}

#navbar{
	padding-left:0px;	
	border: dashed #999 thin; 
	border-left:none;
	border-right:none;
	text-align:center;
}

#navlist li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
	margin-left:0px;
}

